*{
    box-sizing: border-box;
}
body{
    background-image: url(https://content.r9cdn.net/rimg/dimg/c4/db/38a645c1-reg-119-16b4207e058.jpg?crop=true&width=1366&height=768&xhint=3510&yhint=2100);
    backdrop-filter: blur(1px);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    display: flex;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 16px;
}
.container{
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 500px;
    height: 600px;
    gap: 30px;
}
.head{

}
.img img{
    width: 250px;
    height: 200px;
    border-radius: 50%;
    border: 5px solid #4ab6e0;
    margin-bottom: 20px;
}
.info{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
.name{
    border: 3px solid #1b7a9f;
    background-color: #a1d9ef;
    font-size: xx-large;
    font-weight: bolder;
    padding: 6px 15px;
    border-radius: 3px;
}     
.about{
    border: 3px solid #d0ecf7;
    background-color: #1b7a9f;
    color: #fff;
    font-size: 1.8em;
    padding: 6px 15px;
    border-radius: 6px;

}
.container__main{
    display: flex;
    padding:0px 30px;
    padding:0px 40px ;
    flex-direction: column;
    justify-content: center;
    gap: 20px;

}
.container__skills{
    display: flex;
    flex-direction: column;
    gap: 20px;

}       
.skills{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: rgba(42, 169, 219, 0.5);
    border: 3px solid #cccccc;
    color: #fff;
    text-transform:uppercase;
    cursor: pointer;
    font-size: x-large;
    padding: 10px 16px;
    border-radius: 6px;
    margin-bottom: 10px;
}
.skills a{
    text-decoration: none;
    color: #fff;
}
.skills a:hover{
    color: #000;
}
.skills:hover{
    background: rgba(42, 169, 219, 0.7);
}
.subscribe span{
    font-size: large;
    background: #1b7a9f;
    border: 3px solid #d0ecf7;
    color: #fff;
    padding: 8px 16px;
    border-radius: 6px;
}
.form{
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 10px;
}
.form input{
    width: 100%;
    height: 50px;
    border: 3px solid #ccc;
    background: rgba(42, 169, 219, 0.5);
}
.form input::placeholder{
    color: #fff;
    font-size: large;
}
.form input:hover{
    background: rgba(42, 169, 219, 0.7);
}
.form button{
    background: rgba(27, 122, 159, 0.9);
    width: 100%;
    height: 50px;
    font-size: large;
    color: #fff;
}
.form button:hover{
    background: #1b7a9f;;
}
.icon{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin-bottom: 20px;
}
.icon a i{
    text-decoration: none;
    width: 100%;
}
@media screen and (max-width: 500px){
    .container{
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
        align-items: center;
        gap:10px ;
    }
}
@media screen and (max-width: 320px){
    .img img{
        width: 200px;
    }
    .name{
        font-size: 20px;
    }
    .about{
        font-size: 20px;
    }
    .subscribe span{
        font-size: 17px;
    }
}
